.element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .element-link {
        position: relative;
        text-decoration: none;
        color: var(--text);
    ;
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: var(--text);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }
        &:hover:after {
            transform: scaleX(0.8);
        }
    }
    .element-link-active:after {
        transform: scaleX(0.8);
    }
}

.element-link-active:after {
    transform: scaleX(1);
}