.cart-visible {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  background-color: var(--surface);
  z-index: 100;
  transition: transform 0.3s ease-in-out; /* Animation fluide */
  transform: translateX(0); /* Position de départ (visible) */
}

.cart-hidden {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px; /* Même largeur pour garder la transition consistante */
  background-color: var(--surface);
  z-index: 100;
  transition: transform 0.3s ease-in-out; /* Animation fluide */
  transform: translateX(100%); /* Décale le side-panel vers la droite */
}

.cart-button {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center; /* Centrer l'icône et le texte verticalement */
  justify-content: center; /* Centrer horizontalement */
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Bouton arrondi */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  gap: 8px; /* Espace entre l’icône et le texte */
  outline: none;

  &:hover {
    background-color: var(--primary-hover); /* Couleur plus foncée au survol */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre subtile */
  }

  &:active {
    transform: scale(0.95); /* Légère réduction lors du clic */
  }
}

.cart-close-button {
  background-color: transparent;
  color: var(--text);
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ff5f5f; /* Indication visuelle lors du survol */
  }

  &:focus {
    outline: none;
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  z-index: 99; /* Juste en dessous du panier */
  transition: opacity 0.3s ease-in-out; /* Animation pour le fade-in/fade-out */
  opacity: 0; /* Complètement transparent par défaut */
  pointer-events: none; /* Désactiver le clic si invisible */
}

.cart-overlay-visible {
  opacity: 1; /* Rendre visible */
  pointer-events: auto; /* Autoriser les clics */
}