.nav-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 10rem;
  box-shadow: var(--drop-shadow);
  .nav-bar-logo {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .nav-bar-options{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 2rem;
  }
}

