.register-form-container {
  width: 100%;

  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .password-validation {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem 0;
        li {
          font-size: 0.9rem;
          margin-bottom: 5px;
          color: #ff4d4d;

          &.valid {
            color: var(--primary);
          }

          &.invalid {
            color: var(--text-secondary);
          }
        }
      }
    }
    .error {
      color: var(--red);
    }
  }
}