.tableau {
  .tableau-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-admin {
      background-color: var(--green);
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: var(--green-hover);
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      width: 10%;
      border: 1px solid var(--grey);
      text-align: center;
      padding: 5px;
      button {
        margin-right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-secondary);
        &.edit-btn {
          &:hover {
            color: var(--blue-hover);
          }
        }
        &.delete-btn {
          &:hover {
            color: var(--red-hover);
          }
        }
      }
    }

    tr {
      border-bottom: 1px solid var(--grey);
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .btn-cancel {
    background-color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-confirm {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
