.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .register-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    .register-title {
      h1 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
      }
    }
    .register-error {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
    .register-form-container {
      width: 100%;
    }
  }
}