body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #BC90F7;
  --primary-hover: #9966CC;
  --secondary: #FFB100;

  --text: #121212;
  --text-secondary: #656d78;
  --grey: #c8c8c8;

  --drop-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  --background: #FBFEFB;
  --surface: #FBFEFB;
  --low: #1f1f1f;

  --divider: #e1e1e1;

  --red: #dc0a0a;
  --red-hover: #c00000;
  --green: #009900;
  --green-hover: #008000;
  --blue: #0095ff;
  --blue-hover: #0077cc;
}

.dashboard-global{
  display: flex;
  flex-direction: row;
}

.dashboard-content {
  width: 100%;
}

.dashboard-content-body {
  padding: 0 2rem;
}